<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card ng-repeat="teapot in gdc.teapots  | limitTo:10">
            <md-card-title class="teapot" ng-click="gdc.go(teapot)">
                <md-card-title-text>
                    <span class="md-headline">{{teapot.title}}</span>
                    <span class="md-subhead">{{teapot.price}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img ng-src="{{teapot.image}}">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    <i class="fa fa-cube fa-2x" aria-hidden="true" ng-if="teapot.stock"></i>
                    <md-tooltip>
                        En stock
                    </md-tooltip>
                </div>
                <div>
                    <span class="fa-stack fa-lg" ng-if="!teapot.stock">
                      <i class="fa fa-cube fa-stack-1x"></i>
                      <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <md-tooltip>
                        Pas disponible
                    </md-tooltip>
                </div>
                <div class="displayData">
                    <md-button ng-click="gdc.toggle(teapot, 'right')" >Afficher les données</md-button>
                </div>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card ng-repeat="teapot in gdc.teapots | limitTo:10:10">
            <md-card-title class="teapot" ng-click="gdc.go(teapot)">
                <md-card-title-text>
                    <span class="md-headline">{{teapot.title}}</span>
                    <span class="md-subhead">{{teapot.price}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img ng-src="{{teapot.image}}">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    <i class="fa fa-cube fa-2x" aria-hidden="true" ng-if="teapot.stock"></i>
                    <md-tooltip>
                        En stock
                    </md-tooltip>
                </div>
                <div>
                    <span class="fa-stack fa-lg" ng-if="!teapot.stock">
                      <i class="fa fa-cube fa-stack-1x"></i>
                      <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <md-tooltip>
                        Pas disponible
                    </md-tooltip>
                </div>
                <div class="displayData">
                    <md-button ng-click="gdc.toggle(teapot, 'left')" class="displayData">Afficher les données</md-button>
                </div>
            </md-card-actions>
        </md-card>
    </div>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Les données</h1>
        </md-toolbar>
        <md-content layout-padding>
            <p><b>Titre</b> : {{gdc.current.title}}</p>
            <p><b>Prix</b>: {{gdc.current.price}}</p>
            <p><b>Stock</b>: {{gdc.current.stock}}</p>
            <p><b>Url</b>: {{gdc.current.url}}</p>
            <img ng-src="{{gdc.current.image}}">
            <md-button ng-click="gdc.close('right')" class="md-primary">
                Fermer
            </md-button>
        </md-content>
    </md-sidenav>

    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Les données</h1>
        </md-toolbar>
        <md-content layout-padding>
            <p><b>Titre</b> : {{gdc.current.title}}</p>
            <p><b>Prix</b>: {{gdc.current.price}}</p>
            <p><b>Stock</b>: {{gdc.current.stock}}</p>
            <p><b>Url</b>: {{gdc.current.url}}</p>
            <img ng-src="{{gdc.current.image}}">
            <md-button ng-click="gdc.close('right')" class="md-primary">
                Fermer
            </md-button>
        </md-content>
    </md-sidenav>

</md-content>